<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="title">
    <img src="/images/book-cover.svg" alt="Vivre sans voiture par Arthur Lacoste" />
    <div class="title-col-2">
        <h1 class="title-home"><cite>Vivre sans voiture</cite></h1>
        <p>
          À travers les âges, l’homme a su créer des dizaines de moyens de transport différents, en investissant la terre à cheval, les airs en avion, ou la mer en bateau, en défiant les éléments et trouvant des solutions pour parcourir et explorer chaque recoin de notre charmante planète. Le transport permet le voyage, de s’évader au présent et de conquérir des terres à l’autre bout du monde. Le transport permet aussi plus simplement de se rendre d’un point A à un point B, de se déplacer au quotidien pour travailler, d’aller faire ses courses et vivre, tout simplement.
        </p>
        <p>J'aurais pu appeler cet essai « Petit guide à l’usage des personnes
          qui veulent arrêter d’utiliser leur voiture pour rien  ». <em>Vivre sans
            voiture</em> tente de cerner les manières de vivre ses
            déplacements sans que la voiture ne soit la première option.</p>
        <p></p>
        <div class="btn-group">
            <a href="{{ site.product_link }}" class="btn">Précommander</a>
            <a href="/0-avant-propos" class="btn">Lire l'avant-propos</a>
        </div>
    </div>
  </body>
</html>
